<!doctype html>

<html>
    <head>
        <title>Game Form</title>
    </head>

    <body>
        <form action="/madlib">
            Pick a person:
            <select name="person">
                <option value="teacher">Teacher</option>
                <option value="engineer">Engineer</option>
                <option value="lawyer">Lawyer</option>
            </select> <br>

            Pick a color:
            <select name="color">
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
                <option value="red">Red</option>
            </select> <br>  

            Pick a noun:
            <select name="noun">
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hippopotamus">Hippopotamus</option>
            </select> <br>

            Pick a adjective:
            <select name="adjective">
                <option value="awesome">awesome</option>
                <option value="cool">cool</option>
                <option value="spectacular">spectacular</option>
            </select> <br>  

            Pick a car:
            <input type="radio" name="car" value="tesla">Tesla
            <input type="radio" name="car" value="camry">Camry


            <input type="submit">

        </form>
    </body>
</html> 